## Preprocessing

In [48]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [49]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])

In [50]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()
print(unique_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [51]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(app_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [52]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_counts[app_type_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [53]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"

In [54]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts = application_df['CLASSIFICATION'].value_counts()
print(class_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [55]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [56]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

In [57]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns=["IS_SUCCESSFUL"])
y = application_df["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=4)

In [58]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [59]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

from tensorflow.keras.layers import Dropout

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=100, activation='relu', input_dim=X_train.shape[1]))
nn.add(Dropout(0.2))  # Drop 20% of neurons

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=50, activation='relu'))
nn.add(Dropout(0.2))  # Drop 20% of neurons

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=25, activation='relu'))
nn.add(Dropout(0.2))  # Drop 20% of neurons

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

ModuleNotFoundError: No module named 'tensorflow.keras'

In [ ]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
# Train the model
nn.fit(X_train_scaled, y_train, epochs=50, batch_size=100)

Epoch 1/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 1s 987us/step - accuracy: 0.6946 - loss: 0.6052
Epoch 2/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 926us/step - accuracy: 0.7275 - loss: 0.5569
Epoch 3/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 899us/step - accuracy: 0.7301 - loss: 0.5486
Epoch 4/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 903us/step - accuracy: 0.7323 - loss: 0.5502
Epoch 5/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 898us/step - accuracy: 0.7346 - loss: 0.5466
Epoch 6/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 933us/step - accuracy: 0.7321 - loss: 0.5466
Epoch 7/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 962us/step - accuracy: 0.7353 - loss: 0.5453
Epoch 8/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 910us/step - accuracy: 0.7303 - loss: 0.5472
Epoch 9/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 925us/step - accuracy: 0.7310 - loss: 0.5479
Epoch 10/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 927us/step - accuracy: 0.7302 - loss: 0.5498
Epoch 11/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 928us/step - accuracy: 0.7336 - loss: 0.5471
Epoch 12/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 909us/step - accuracy: 0.7289 - loss: 0.5521
Epoch 13/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 938us/step - accuracy: 0.7300 - loss: 0.5500
Epoch 14/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 919us/step - accuracy: 0.7296 - loss: 0.5506
Epoch 15/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 948us/step - accuracy: 0.7334 - loss: 0.5460
Epoch 16/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7317 - loss: 0.5428
Epoch 17/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 918us/step - accuracy: 0.7364 - loss: 0.5408
Epoch 18/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 932us/step - accuracy: 0.7391 - loss: 0.5412
Epoch 19/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 944us/step - accuracy: 0.7368 - loss: 0.5457
Epoch 20/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7323 - loss: 0.5457
Epoch 21/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 917us/step - accuracy: 0.7362 - loss: 0.5441
Epoch 22/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 928us/step - accuracy: 0.7392 - loss: 0.5400
Epoch 23/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 926us/step - accuracy: 0.7335 - loss: 0.5435
Epoch 24/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 919us/step - accuracy: 0.7350 - loss: 0.5448
Epoch 25/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7322 - loss: 0.5451
Epoch 26/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 933us/step - accuracy: 0.7333 - loss: 0.5434
Epoch 27/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 939us/step - accuracy: 0.7375 - loss: 0.5410
Epoch 28/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 921us/step - accuracy: 0.7367 - loss: 0.5426
Epoch 29/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7382 - loss: 0.5400
Epoch 30/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 933us/step - accuracy: 0.7370 - loss: 0.5403
Epoch 31/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 990us/step - accuracy: 0.7324 - loss: 0.5461
Epoch 32/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 926us/step - accuracy: 0.7358 - loss: 0.5446
Epoch 33/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 934us/step - accuracy: 0.7361 - loss: 0.5396
Epoch 34/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7401 - loss: 0.5371
Epoch 35/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 898us/step - accuracy: 0.7415 - loss: 0.5366
Epoch 36/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 915us/step - accuracy: 0.7324 - loss: 0.5428
Epoch 37/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7380 - loss: 0.5388
Epoch 38/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 892us/step - accuracy: 0.7368 - loss: 0.5440
Epoch 39/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 904us/step - accuracy: 0.7335 - loss: 0.5425
Epoch 40/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7368 - loss: 0.5396
Epoch 41/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 890us/step - accuracy: 0.7336 - loss: 0.5435
Epoch 42/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 959us/step - accuracy: 0.7384 - loss: 0.5385
Epoch 43/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 933us/step - accuracy: 0.7362 - loss: 0.5434
Epoch 44/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 997us/step - accuracy: 0.7377 - loss: 0.5406
Epoch 45/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 910us/step - accuracy: 0.7369 - loss: 0.5404
Epoch 46/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 877us/step - accuracy: 0.7332 - loss: 0.5437
Epoch 47/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 961us/step - accuracy: 0.7368 - loss: 0.5399
Epoch 48/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7349 - loss: 0.5409
Epoch 49/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 914us/step - accuracy: 0.7359 - loss: 0.5392
Epoch 50/50
275/275 ━━━━━━━━━━━━━━━━━━━━ 0s 900us/step - accuracy: 0.7351 - loss: 0.5427

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 1ms/step - accuracy: 0.7206 - loss: 0.5650
Loss: 0.5649600625038147, Accuracy: 0.7205539345741272

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupopt1.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.